.gradle/
build/
run/
out/
*.log
*.tmp
*.bak

# IDE files
.idea/
*.iml
.classpath
.project
.settings/

# Local generated mod jars
/*.jar
!/gradle/wrapper/gradle-wrapper.jar

# OS files
Thumbs.db
desktop.ini
